pre,
code,
samp {
  color: $grey-dark;
  // font-size: 1em;
  font-style: normal;
  font-family: $mono-stack;
  background-color: $grey-lightest;
  border-radius: 2px;
  padding: 0.125rem 0.25rem;
  line-height: 1.4;
}

code {
  color: $text-color;
  background-color: lighten($yellow, 15%);
  padding: 0.125rem 0.25rem;
}

pre {
  padding: 0.5rem 0.75rem;
  overflow-x: scroll;
  border-left: 6px solid $blue-light;
  word-wrap: normal;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
  }
}
