<footer>

  <div class="grid-container">
<hr>
  <!-- {% if site.description %}
  <div class="mv1">
    <p>{{ site.description | escape }}</p>
  </div>
  {% endif %} -->

<div class="grid-1-2">
  <span>{{site.email}}</span>
</div>
<div class="grid-1-2 grid-omega">
  <ul class="list pa0 ma0 flex justify-end">
    {% if site.github_username %}
    <li class="dib mh1">
      {% include icon-github.html username=site.github_username %}
    </li>
    {% endif %}

    {% if site.twitter_username %}
    <li class="dib mh1">
      {% include icon-twitter.html username=site.twitter_username %}
    </li>
    {% endif %}
  </ul>
</div>

  </div>

</footer>
