---
# Only the main Sass file needs front matter (the dashes are enough)
---

$primary: #f2bb21;

$anchor-bottom-hover: #F6D169;

// modules

$mqs: (
  sm: 35.5em,
  md: 48em,
  lg: 60em
);

@import "dependency/susy/sass/susy";

@import "dependency/craftmodule/index";

@import "jameshome/base";


// Tachyons extensions

.bg-primary {
  background-color: lighten($primary, 15%);
}
