---
layout: default
---

<ul class="list pa0 ma0 cf">
  <h2 class="sr fs3">Most recent projects I have been involved in</h2>
{% for item in site.items %}
    <li class="mb3">
        <h3 class="f3">
          {{item.name}}
          <a href="{{item.address}}" class="f5 db bn" target="_blank">{{item.address}}</a>
        </h3>
        <p>{{ item.content }}</p>
      <!-- <div class="grid-10-12 grid-omega">
        <img src="{{ site.url }}assets/images/{{item.name | downcase }}-iphone7.png" style="transform: rotate(12deg);" alt="">
      </div> -->
    </li>
{% endfor %}
</ul>
